*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background-image: url("images/future_wallpaper.jpg");
	background-size: 100vw 100vh;
	color: black;
	font-family:'Lobster', cursive;
	text-align:left;'
}

img {
    border-radius: 30px;
}


.navbar{
	/*color:#fff;*/
  	background-color: blue;
	display: flex;
	justify-content: space-around;
}

.menu{
	/*color:white;*/
	/*background-color: solid green;*/
	width:1000px;
	display: flex;
	justify-content: space-around;
	list-style: none;
	font-size:20px;
	margin-right: 20px;
}

.socialIcon{
	display: flex;
	justify-content: space-around;
	width:140px;
}

.firstbase-container{
	display:flex;
	justify-content: center;
}

.firstbase{
	width: 100%;
}

.HelloImgWorld{
	display:flex;
	justify-content: space-around;
	width: 100%;
	align-items:center;
}

.helloworld1{
	font-size: 150px;
	font-family: 'VT323',monospace;
}

.helloworld2{
	font-size: 150px;
	font-family: 'VT323',monospace;
	margin-left: 60px;
}
/*.profilepic{
	margin-left: ;
}*/

.shortIntro-container{
	display:flex;
	flex-direction: column;
	align-items:center;
}

p{
	max-width: 90%;
}

.gLink{
	color: purple;
	font-size: 1.5em;
}

.video{
	display:flex;
	justify-content: center;
}

a{
	text-decoration: none;
	color:white;
}



